@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");

@keyframes scrollBackground {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(100%);
  }
}

#backgroundLayar {
  animation: scrollBackground 10s linear infinite;
}

@keyframes rocketUp {
  0% {
    bottom: 50px;
  }
  100% {
    bottom: 100vh;
  }
}

.animate-rocket-up {
  animation: rocketUp 5s forwards;
}
